body {
  font-family: "Roboto", sans-serif;
  h1, h2 {
    text-align: center;
  }
.page {
height: 100vh;
width: 100vw;

header {
    background: #f4f4f4;
  text-align: center;
  padding: 2em;
  h1 {
    font-size: 2.5em;
  }
  img {
    max-width: 96px;
  }
}
main{
    max-width: 960px;
  margin: 0 auto;
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  .new-member-form {
    margin: 2em 0 4em 0;
    text-align: center;
  }
  table {
      border: black 1px solid;
      td {
          border: black 1px solid;
      }
  }
}

footer {
    margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
  }
}
}